<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leaderboard</title>
</head>
<body>
<h1>Coin Collectors Club - Leaderboard</h1>
<table border="1">
    <tr>
        <th>Rank</th>
        <th>com.obsoletehq.coins.model.Player</th>
        <th>Worth ($)</th>
    </tr>
    <tr th:each="player, stat : ${players}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${player.name}"></td>
        <td th:text="${player.worth}"></td>
    </tr>
</table>
</body>
</html>
